@model Prova1_MateusGadotti.Models.TipoDeAssociacao
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Nome</h2>
<h2>@Model.Periodo</h2>
<h2>@Model.Mensalidade</h2>