@model Prova1_MateusGadotti.Models.Aluno
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Nome</h2>
<h2>@Model.CPF</h2>
<h2>@Model.Faixa.Nome</h2>
<h2>@Model.TipoDeAssociacao.Nome</h2>